.users-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 5px 15px;
    width: 95%;
    height: 64px;
    gap: 15px;
    opacity: 1;
}

.user-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    padding: 5px 10px;
    background-color: #fff;
    margin-bottom: 0px;
    width: auto;
    height: 100%;
}

.user-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    opacity: 1;
}

.user-name {
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: #0F1729;
    margin: 0;
    width: auto;
    height: 21px;
}

.message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0F8BFD;
    padding: 5px 10px;  
    border-radius: 10px;
    width: auto; 
    height: 100%;
    gap: 10px;
    opacity: 1;
}

.message-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.message-name {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin: 0;
}
